
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

data_extraction/scraping_output/*.json
data_extraction/Websites/log/*.log
data_extraction/Websites/chromedriver-win64/
*.exe

.pytest_cache
.ruff_cache


*.log

*.json
*.csv
.env
